<ion-content class="background" padding>
	<div *ngIf="(user | async) || {} as user">
		<ion-button color="danger" expand="block" *ngIf="!user.uid"
				(click)="googleLogin()" class="btnLogin">Login with Google</ion-button>
		<!-- <button ion-button
				*ngIf="!user.uid"
				(tap)="googleLogin()">
			Login with Google
		</button> -->

		<div *ngIf="user.uid">
			You're already logged in, Welcome {{ user.displayName }}
			<ion-button color="dark" expand="block" (click)="signOut()">Signout</ion-button>
		</div>
	</div>
</ion-content>