<p>
  google-login page!:)
</p>
<div *ngIf="(user | async) || {} as user">
	<ion-button color="dark" expand="block" *ngIf="!user.uid"
			(click)="googleLogin()">Login with Google</ion-button>
	<!-- <button ion-button
			*ngIf="!user.uid"
			(tap)="googleLogin()">
		Login with Google
	</button> -->

	<div *ngIf="user.uid">
		You're already logged in, Welcome {{ user.displayName }}
		<ion-button color="dark" expand="block" (click)="signOut()">Signout</ion-button>
		<!-- <button ion-button (tap)="signOut()">
			Signout
		</button> -->
	</div>
</div>