<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <!--<div *ngIf="(user | async) || {} as user">
    <ion-button color="danger" expand="block" *ngIf="!user.uid"
        (click)="googleLogin()" class="btnLogin">Login with Google</ion-button> -->
    <!-- <button ion-button
        *ngIf="!user.uid"
        (tap)="googleLogin()">
      Login with Google
    </button> -->

    
      It's time to start scanning!! No expired items left behind.
      <p>
        Get started by clicking on the button below.
      </p>

      <h2 style="text-align:center" *ngIf="barcode">{{barcode.text}}</h2>
      <ion-button color="dark" expand="block" (click)="scanCode()">Start Scan</ion-button>
      <!--
      <div *ngIf="user.uid">
      You're already logged in, Welcome {{ user.displayName }}
      <ion-button color="dark" expand="block" (click)="signOut()">Signout</ion-button>
    </div>
  </div> -->
</ion-content>